$dark_gold: #693c17;
$light_gold: #fbecc6;
$light_gold-op: hsla(43, 87%, 88%, 0.06);
$gold: #c09a5b;
$gold2: #c4ac86;
$gray: #262626;
$black: #0D0D0D;
$black-op: rgba(13, 13, 13, 0.9);
$white: #e7e7e7;
$white-dark: #d3d3d3;